[2014-08-08 07:43] polyglot-jones opened #2 "Why is the @router annotation lower case?"
The @router annotation is defined with a lower-case "r" but all of the other annotations are capitalized. Was this on purpose, or accidental? Can we change it to be consistent?

Note: This is TODO item #4 in the README. Please delete it from the README once resolved.

[2014-08-08 07:46] polyglot-jones opened #3 "Best practices for a microservice-centric system (non resource-centric)"
I'd like to figure out a recommended approach for documenting the API of a microservice-centric system, as opposed to a resource-centric system. This might include: documenting best practices, changing this generator code to understand additional annotation types, and/or recommending changes to the Swagger specification.

Note: This is TODO item #3 in the README. Please update the README when this

[2014-08-08 09:44] #2 closed, assigned to nobody

[2014-08-11 19:08] polyglot-jones opened #6 "Import aliases seem to be ignored by parser"
When I try to parse the following code, I get an error that "Package server is not imported ..." followed by a map that shows the imports. In that map dump, the key for my server-base import is "server-base" not the "server" alias I assigned, so the parser can't find "server".

import (
    server "github.com/mylibrary/server-base"
)

// @Failure 500 {object} server.Error "No such id"

[2014-08-11 19:17] polyglot-jones opened #7 "Parser does not seem to understand hyphenated names"
Since the parser does not understand import aliases (see issue #6), I tried changing my @Failure to use the original name (changed it from "server.Error" to "server-base.Error", see below.); however, the tokenizer seems to stop at the dash, as if the whole model name is "server" not "server-base.Error". So, I get an error message that " Can not find definition of server model."

import (
    serve

[2014-08-12 12:15] #7 closed, assigned to nobody

[2014-08-12 12:16] #3 closed, assigned to nobody

[2014-08-21 21:03] polyglot-jones opened #20 "Add option to output the specs as a MarkDown and/or AsciiDoc file"
I'm thinking of changing the -swaggerUiPath switch to a pair of switches (-docType and -outputPath) where -docType=go (default) or -docType=swagger; This will let us add two more:  -docType=md (MarkDown) and -docType=adoc (AsciiDoc).

That way, you could easily publish your specs as a static doc. (GitHub knows how to present both md and adoc files, and you can link to them from your README.md. And

[2014-08-25 22:04] polyglot-jones opened #21 "Conflicting @Title and @Description comments"
If the controller code is all contained in a single `main.go` file, then the `@Title` and `@Description` of the last controller operation in the file overrides the `@Title` and `@Description` comments that describe the overall API that appear above the package keyword.

One possible fix is to simply rename the `@Title` and `@Description` annotation for the overall API to `@APITitle` and `@APIDescr

[2014-08-27 08:28] polyglot-jones opened #22 "Cannot find definition of time.Time."
If any model object includes a time.Time field, the parser complains that it cannot find the definition of that model. Perhaps time.Time should be treated as a basic type? In other words, there's not need to report on the internals of the Time model. Just saying that it's a time field is enough.

[2014-08-27 20:32] polyglot-jones opened #24 "Endless loop on circular model reference."
If model A contains fields of type B, and model B contains back-reference ("parent") fields of type A, then this generator gets caught in an endless loop.

[2014-08-28 07:59] #24 closed, assigned to nobody

[2014-08-28 08:02] #21 closed, assigned to nobody

[2014-08-28 13:52] #22 closed, assigned to nobody

[2014-09-03 06:15] polyglot-jones opened #29 "@Params allow required/optional instead of true/false"
(This is a reminder to myself.) Allow the words "required" and "optional" to be used in the 4th position of an @Params line (instead of "true"/"false") as soon as I get a chance.

[2014-09-03 09:34] polyglot-jones opened #31 "Add a -format="html" option (if anyone wants it)."
This should be trivial. It's just a matter of implementing the 9 methods of the Markup interface.

If anyone wants this, just say so in a comment, below.

[2014-09-03 09:38] polyglot-jones opened #32 "The 3 markup reports are probably still missing a few data points."
For example, the report does not currently reflect the "{array}" vs. "{object}" specifications in the @Success/Failure lines.

[2014-09-03 09:51] polyglot-jones opened #33 "Add an @APIStatus tag."
To be used as a further description, particularly with respect to what parts of the API are subject to change. For example,

`@APIStatus The /foo resources are all protoypes that only return dummy data for now. Also, we might change the resource name from foo to bar.`

For -format=-go|swagger, This would be tacked on to the description.

For -format=markdown|confluence|etc., this would be rendered

[2014-09-06 06:27] #20 closed, assigned to nobody

[2014-11-07 19:44] pabdavis opened #39 "support for authorizations tag?"
Do you have thoughts (or design in mind) on supporting authorizations tag?

[2014-11-14 20:16] #6 closed, assigned to nobody

[2014-12-10 10:30] inotnako opened #46 "Support for parser pointer array"
Hi! Now it's not parsing

[code]

If I change to

[code]

It's worked.

You can support this pattern in parser?

[2015-01-08 00:10] gregzuro opened #49 "cant find std packages"
[code]

[2015-01-08 07:00] gregzuro opened #51 "tab between "@Router" and request_path causes silent failure to generate for that operation"
[code]

[2015-01-09 05:20] #49 closed

[2015-01-09 05:22] yvasiyarov commented on #51
fix merged

[2015-01-09 05:22] #51 closed

[2015-01-12 22:33] gregzuro commented on #32
I've started on some of these items if anyone is still interested (this one in particular I have added to the markdown output).

[2015-02-26 02:41] IvanRave opened #53 "Can not find a package in GOROOT (Cloud9 IDE)"
Cannot find system packages, like "io", "fmt" and others

In your code required packages verifies only in a "src" folder in GOROOT directory

    if evalutedPath, err := filepath.EvalSymlinks(filepath.Join(goroot, "src", packagePath)); err == nil {

https://github.com/yvasiyarov/swagger/blob/8274ce23174e03badaf457cbb57aecee74d49bf6/parser/parser.go#L127

in Cloud9 these packages stores in a $GOROO

[2015-02-26 03:04] IvanRave commented on #53
in Cloud9 by default: v1.2.1 of Go

It will be good to add one more condition to your code (time-saving for Cloud9 developers)

[2015-02-26 09:34] yvasiyarov commented on #53
@IvanRave can you, please, send a pull request with necessary changes ?

[2015-02-26 19:11] IvanRave commented on #53
Maybe in the next month. Need to teach this stuff with forks and pull requests:)

[2015-02-26 23:20] gregzuro commented on #53
I think that the code that I removed lately was -trying- to do what OP is asking.  I'll add it soon unless @IvanRave wants to do it.  Let me know.

[2015-02-26 23:37] IvanRave commented on #53
@gregzuro fix it, please

[2015-03-06 14:33] #53 closed

[2015-04-14 14:56] RobertJGabriel commented on #31
I will that if this is still open

[2015-04-19 20:37] RobertJGabriel opened #59 "Not Grouping together by version number"
Being able to remove version number in the sorting so they are not grouped together.

Example:
// DELETE           /v1/billing/subscription.json
// PUT                 /v1/support/ticket.json

They would be grouped together,cause of the v1.

Hope this make sense, There's other projects that I have used this on that would be grateful to have this feature.

[2015-04-21 23:53] #59 closed

[2015-04-26 11:40] zyndiecate opened #60 "package names of imports containing dashes not resolved properly"
I created a [test repo](https://github.com/giantswarm/swagger-test) to show the problem. To reproduce, just check out the test repo and do `make`. Further have a look at [main.go](https://github.com/giantswarm/swagger-test/blob/d77a384a31cf5d33de0eb99e6f1ae4efc6fd5d81/main.go). Problem is that imports like that works

[code]

So I would like to just do that, but it does not work and throws an erro

[2015-05-01 12:18] RobertJGabriel opened #61 "Add a @security annotation, like that we know who have access to the endpoint"

[2015-05-07 16:28] ryanfaerman opened #62 "How to work with multiple files?"
I usually split my code into multiple files, one for each service or resource. How do I tell swagger to parse every file in my project?

[2015-05-07 16:32] ryanfaerman commented on #62
Nevermind, it looks like the comments *must* be directly above the associated http.HandlerFunc not near the routing.

I had something like:
[code]

Whereas I really needed this:
[code]

[2015-05-07 16:32] #62 closed

[2015-05-11 15:23] ryanfaerman opened #63 "Ignore directories"
Is there a way to ignore directories or files from being processed by swagger?

We have a folder of test code in our repository that should not be part of the API documentation but it may have some of the swagger comments within.

[2015-05-15 04:07] sebest opened #66 "You commited a Nsq datafile"
i think that nsqd.347.dat should not be commited?!

[2015-05-15 19:17] yvasiyarov commented on #66
@sebest sorry, my fault. deleted

[2015-05-15 19:17] #66 closed

[2015-05-15 20:27] gregzuro commented on #66
That was me.  Sorry about that.

[2015-05-24 06:57] FGM opened #68 "@SubApi annotation is case sensitive"
Although the docs says annotations are case-insensitive, this one is case-sensitive: using @SubAPI instead of @SubApi prevents the sub-API from being discovered.

[2015-05-26 00:24] RobertJGabriel commented on #39
@pabdavis Im actually currently working on this :)

[2015-06-09 08:51] RobertJGabriel opened #69 "Build Docs from two different locations"

[2015-06-11 19:25] olivoil opened #70 "Support for File data type for file uploads"
Hi,

Does this project support swagger's "File" data format for file uploads?

Thanks!

[2015-06-15 08:22] robskie opened #71 "Incorrect type and format for int64 and time.Time in swagger models"
Hi!
Given the following struct:
[code]
The following swagger models are currently generated:
[code]
According to [this](https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#431-primitives), `intval` type should be "integer" and format should be "int64, and `timeval` type should be "string" and format should be "date-time".

[2015-06-17 07:44] yvasiyarov commented on #70
@olivoil no, it does not

[2015-06-25 14:06] fzerorubigd opened #72 "Swagger 2.0 support"
Is this planned?

[2015-06-25 14:56] RobertJGabriel commented on #72
I'm actually working on this at the moment, it will be a few more weeks (with work and getting time)

[2015-07-09 18:41] solher opened #75 "Block model references"
Hi,
Is there a way to block the generation of related models ?
To allow my models to embed related ones, they all have references to each others.
So when I annotate my `Find` API method with `@Success 200 {object} domain.User`, in Swagger, it shows all the models of my app.

Thanks

[2015-07-13 05:53] yvasiyarov commented on #75
Hello @solher,
there is no way to do it.
Actually, you should not do it. If model embedded, your API clients must know about that model

[2015-07-13 05:53] #75 closed

[2015-07-23 18:16] defcronyke opened #80 "Body parameter name is not honoured"
Hi,

Great work on this project!! It's so cool!

I noticed when using a param with transport type body, the name of the param is not shown in swagger-ui, instead the param name is set to "body".

I'm not sure if this is a bug or if it's what you intended, but maybe it would be nice to display a name for the body parameter to give it some context.

Keep up the great work and I look forward to the S

[2015-07-27 14:58] JeanCaron opened #82 "Type aliasing"
First, Great Job for this !
It's written in the technical notes that the type aliasing discovery is working.
I'm doing something like :
type String string
to add an unmasharl method on it, but it seems that swagger still find the alias type instead of the builtin type.
Thanks

[2015-08-04 00:15] joesustaric commented on #72
Awesome thanks! Would love v2.0 support.

[2015-08-04 02:35] zasran opened #83 "How to set basePath?"
Note: replaced the actual hostname by $host

It seems that the URL in 'Try it out!' is not set correctly and I don't see how to adjust it.

  - we host docs at: http://$host/doc/
  - in comments: // @SubApi User API [/user]
  - generated user/index.json has: "basePath": "{{.}}",

Which results in Try it out link like this: http://$host/doc//{{.}}/user/1

The correct link would be http://$host/user

[2015-08-04 02:48] solher commented on #83
Haha I actually knew there would be some questions about it someday as I didn't understand it myself at first.
The basePath is now set at {{.}} to allow templating (so a dynamic basePath at runtime).
It comes from the pull request https://github.com/yvasiyarov/swagger/pull/74.
Check out the example "web.go-example".

Maybe we should allow both dynamic and static basePath ? If the basePath is set b

[2015-08-04 07:10] zasran commented on #83
Not sure I fully understand it, one detail is why is the URL so strangely weird when basePath is {{.}} (there's doc there with two slashes which are not there if basePath is set to something). That's not the important question though.

More important question is how is it supposed to be used in general, we generate the docs (using swagger command) and then simply serve the file tree. The host is t

[2015-08-04 07:19] RobertJGabriel commented on #72
Going to make the pull request today towards @yvasiyarov , this is only the start and will need help from others to get it done better and quick :)

[2015-08-04 14:32] schickling commented on #72
+1

[2015-08-04 15:27] schickling commented on #39
@RobertJGabriel any news on this?

[2015-08-04 15:31] RobertJGabriel commented on #39
I have it about 80%, its just work got super busy the last few weeks >_< hopefully this weekend

[2015-08-04 16:38] schickling commented on #39
Great. Really looking forward to this. Thanks for all your work your putting into this.

[2015-08-04 16:59] losinggeneration opened #84 "Display filename and line number on errors"
It would be really useful if the filename was given when errors happen during doc parsing. The line number would be great as well.

[2015-08-04 17:12] schickling opened #85 "Nested query params"
It should be possible to have nested query params like the following:

**Payload:**
[code]

**Annotations:**
[code]

Note: I think the dot notation `i.am.a.nested.object` should work best. What do you think @yvasiyarov ?

[2015-08-04 22:02] schickling commented on #85
Sorry, I misinterpreted the param type `query`. What I was looking for is `body` (See [here](https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#524-parameter-object))

[2015-08-04 22:02] #85 closed

[2015-08-04 22:22] RobertJGabriel commented on #72
@yvasiyarov I have the branch ready to merge, but Could you create a swagger2.0 branch on the master repo. As I think it might be best to create a sperate branch for 2.0 so we can improve it while having the other one going too. :) As the more people the better

[2015-08-04 22:25] schickling commented on #72
Really looking forward to the 2.0 branch :+1:

[2015-08-05 21:18] zasran commented on #83
Anybody?

Why is it that the result of swagger contains Go specific templates? Isn't the whole point of swagger that the documentation is generated and then served by HTTP server?

Can somebody explain the rationale and context? I would try to fix it (and submit pull request) but at the moment I don't know what the reasonable solution is and what the goals are...

[2015-08-05 21:41] RobertJGabriel commented on #83
Im just throwing in my two cents , but it would almost be worth having both dynamic and static basePath. If someone is willing.
I do like the idea you have @zasran . As orignail it cause me some problems getting working on a live server :)

[2015-08-05 23:21] zasran commented on #83
What are good places to specify basePath?

- swagger command line (i.e. when generating docs)
- main block of declarative comments (where ApiVersion etc. are)
- part of @SubApi comment
- each request declarative comment (seems to fine grained)

Swagger command ine seems like an obvious choise. It seems like each subApi can have its own basePath (it's in subApi index.json) so maybe @SubApi comment

[2015-08-05 23:40] RobertJGabriel commented on #83
What I have been doing it setting it in part of the @SubApi. So I think your spot on with setting it there but am open up to correction :) what do you think @solher

[2015-08-06 01:33] solher commented on #72
Me too, thanks for the work ! I'll implement it and create issues if I found any bugs :+1:

[2015-08-06 02:13] solher commented on #83
The thing that we know for sure is that the templated basePath is and will stay a hack if we keep it.
As you say @zasran, the point of Swagger is normally to provide a standardized JSON to any HTTP server, not especially a Go one (and according to the Swagger spec, "The basePath does not support path templating").

That being said, it seems to me that it is current practice to serve the app docume

[2015-08-12 01:09] zasran commented on #83
So would it make sense to add:

- command line argument basePath (would be applied to all subApis)
- top level @BasePath declarative comment (also applied to all subApis)
- add basePath to top level declarative commet @SubApi

Any suggestions how to add basePath to @SubApi?

Current format: // @SubApi Description [URI]
With basePath: // @SubAi Description [basePath] [URI]

Doesn't look too good bu

[2015-08-12 09:35] schickling commented on #72
Any news on this @RobertJGabriel? Could one use your fork in the meantime?

[2015-08-12 09:48] RobertJGabriel commented on #72
@schickling Still waiting on @yvasiyarov to create a branch to merge too. If I dont hear anything by friday will post it here :)

[2015-08-15 17:12] schickling commented on #72
Looking forward to it!

[2015-08-19 11:55] bketelsen commented on #72
+1  Yay

[2015-08-19 23:56] rajeevsikka opened #86 "Errors in github.com/fvbock/endless"
web.go-example references github.com/fvbock/endless.
Doing a go get results in numerous errors.
# github.com/fvbock/endless

..\github.com\fvbock\endless\endless.go:99: undefined: syscall.SIGUSR1
..\github.com\fvbock\endless\endless.go:100: undefined: syscall.SIGUSR2
..\github.com\fvbock\endless\endless.go:103: undefined: syscall.SIGTSTP
..\github.com\fvbock\endless\endless.go:107: undefined: sysc

[2015-08-27 15:33] boonep opened #87 "Parser Tests Failing"
I attempted to run the go tests in the parser directory and I'm getting a lot of errors.  The first being:

[code]

Should those be passing?  I wanted to fork and submit a pull request for adding base path parsing, but wanted to make sure all tests passed first.  Thanks!

[2015-08-31 13:38] schickling commented on #70
Would be great!

[2015-09-11 04:55] zasran opened #90 "Swagger fails for gopkg.in/guregu/null.v2 (import name not same as package name)"
When using e.g. gopkg.in the import names do not match the package names. Go build works fine but swagger fails with error below.

Imported path: gopkg.in/guregu/null.v2
Package name : null

2015/09/10 20:56:27 Package null is not imported to bitbucket.org/aintuapps/api-go-poc/models, Imported: map[string][]string{"fmt":[]string{"fmt"}, "orm":[]string{"bitbucket.org/aintuapps/api-go-poc/orm"}, "er

[2015-09-11 05:18] zasran opened #91 "Unexported fields should not appear in model and model schema in docs"
We have a struct like this:

    Base struct {
        private int
    }
    Another struct {
        Base
        Id int `json:"id"`
        ...
    }

This results in model like this:

    bitbucket.org.aintuapps.api-go-poc.models.Another {
        id (int, optional): ,
        private (int, optional): ,
        ...
    }

As far as I can tell the member 'private' should not appear in documentat

[2015-09-11 13:45] #83 closed

[2015-09-11 14:02] yvasiyarov commented on #90
@zasran can you, possible, make a pull request ?

[2015-09-11 14:13] RobertJGabriel commented on #90
@yvasiyarov Could you possblie think of making a swagger 2.0 branch please :)

[2015-09-11 14:19] yvasiyarov commented on #72
guys, I'm really sorry for delay.
swagger2.0 branch created

[2015-09-11 14:21] yvasiyarov commented on #90
@RobertJGabriel sorry for delay. Branch created

[2015-09-11 23:33] zasran commented on #90
@yvasiyarov sorry I don't know what exactly the proper solution is, I don't understand what exactly is ParseImportStatements trying to do. Why is it looping over all files then all imports and tries to get the package name from there when the package name is available right in package (the outermost loop).

I thought that the fix would be fairly simpe for somebody who understand the code but if no

[2015-09-12 00:49] zasran opened #93 "All packages ignored after pull request 89"
Pull request adds ability to ignore packages. It seems that the default behavior is to ignore all packages, the parser.Ignore is empty so it matches any string.

Default value of ignore command lie argument is "" (empty string). Seems like a better default would be something that does not match any valid package name like ^$ (would only match empty string which is not a valid package name). Altern

[2015-09-12 01:17] zasran commented on #87
The test is using a function with signature:

func IsController(funcDeclaration *ast.FuncDecl) bool

While parser and generator use:

func IsController(funcDeclaration *ast.FuncDecl, controllerClass string) bool

Should the generator's version of IsController be used in the test? Or are they different on purpose? The function signature obviously has to be fixed but the question is whether the bodi

[2015-09-12 07:41] yvasiyarov commented on #93
@zasran thanks a lot! Pull request merged

[2015-09-12 07:41] #93 closed

[2015-09-16 02:04] mixedCase opened #95 "@BasePath appears to be non-optional"
This commit: https://github.com/yvasiyarov/swagger/commit/3430d5b14cbeac355b58e11231eac3f702793af6 introduced adding @BasePath as a requirement for the swagger page to work properly, or at least that's the only thing that unbreaks my workflow.

Despite not seeing the benefit in this, I don't mind it, but I haven't seen it documented anywhere.

Is this intended behavior?, and if so, can it get a me

[2015-09-17 10:55] RobertJGabriel commented on #95
Yeah I'm wondering the same thing about the documentation :D
@boonep Could you add something to the wiki :)

[2015-09-17 14:27] boonep commented on #95
Ah, I think I see the issue.  I was under the impression that basePath defaulted to "{{.}}" for both **General API info** and **Sub API Definitions**, but it looks like it actually defaulted to not including a basePath for **General API info** and "{{.}}" for **Sub API Definitions** only.

[code]
Is it preferred for the  **General API info**  basePath to default to not being included or default to

[2015-09-17 15:20] boonep commented on #95
Submitted pull request https://github.com/yvasiyarov/swagger/pull/96 to default to old behavior.  Let me know if it fixes your issue.  Thanks!

[2015-09-17 15:50] mixedCase commented on #95
Doesn't fix it unfortunately. Error is still the same:

    Unable to read api 'clientes' from path {{.}}/clientes (server returned undefined)

[2015-09-22 00:08] rajeevsikka opened #98 "Doc generation does not take into account files inside of a package"
Doc generation seems to work only for packages that are at the top level.
I have SubApis defined inside a file under a package. This is my source structure:
main.go
handler.go
packageFoo
|___ moreHandlers.go

Doc generation fails to take into account SubApi defined in moreHandlers.go

[2015-09-23 06:04] yvasiyarov commented on #95
@boonep @mixedCase
Does #96 really works ? Should I merge it ?

[2015-09-23 13:55] boonep commented on #95
It sounds like it's not working for @mixedCase.  I'm not exactly sure the expected functionality, or where the error is arising, so I'm not sure I can be much more help. Might make sense to just revert 3430d5b since it appears to be breaking some use cases, and isn't providing critical functionality.

[2015-09-23 18:22] mixedCase commented on #95
#96 did not fix it for me. At the moment I'm just working around the issue by specifying `@BasePath`.

[2015-09-23 18:41] boonep commented on #95
@mixedCase if you pull commit 20e8232783704b9a9f1a1e1a223f3d28f55f8064 is the error gone?  Thanks!

[2015-09-28 23:34] mixedCase commented on #95
Yes, indeed that commit does fix it!. Sorry for replying 5 days late.

[2015-10-05 14:15] boonep commented on #95
I think the best course of action would be to revert 3430d5b, and not to commit pull request #96.  We can then fix the test, and make sure we're not breaking any backwards compatibility.

[2015-10-05 14:17] RobertJGabriel commented on #95
I agree with this hugely @boonep :+1:

[2015-10-24 10:18] esiqveland commented on #71
This is correct, please fix this ;)
I might have time to look at this also.

[2015-10-29 18:58] dhudici opened #101 "How @Success annotation gets parsed"
I'm running into some odd behavior (at least in relation to what I'm interpreting from the documentation).

I have the following structure and annotation using it for my handler.

[code]
[code]

The struct is in the same `.go` file as the handler for which I have the `@Success` annotation.
I added the `json` definition to try to fix the problem but it didn't seem to do anything and I still get the

[2015-10-30 02:05] tesujimath opened #102 "@Success/@Failure response_type should be optional"
According to the Swagger 1.2 spec, section 5.2.5, the responseModel is not required.
https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#525-response-message-object
However, here the markup is required to be {object} or {array}.  Similarly for the response_data_type.

Currently for an operation which returns no data, I have to do something like this:

which is clearly a lie.

W

[2015-11-01 13:10] yvasiyarov commented on #102
@tesujimath I've nothing against it. If you will send pull request, I will gladly accept it

[2015-11-01 20:24] tesujimath commented on #102
@yvasiyarov  OK, I will get something together.  I already found that #87 will block any effective testing of my changes, though.  That one needs fixing urgently!  (I already tried a trivial fix to the signature, but many parser tests continue to fail, and I'm not in a position to fix those.)

[2015-11-01 20:27] tesujimath commented on #102
Just to be clear, I won't be making a start on this until the parser tests are fixed.  (It's not much fun working in a repo with broken tests.)

[2015-11-08 18:19] johndunne commented on #72
The swagger2.0 branch is still using the apis key to describe API paths. Is this being worked on? I could contribute and update it to use the newer paths key. Thanks.

[2015-11-08 19:25] RobertJGabriel commented on #72
That would be great @johndunne , as im snowed under at work at the moment :(

[2015-11-09 10:29] schickling commented on #72
Based on the inactivity, I guess this seems the way to go now: https://github.com/go-swagger/go-swagger

[2015-11-17 19:38] gluk64 commented on #98
You need to specify all packages explicitly, comma-separated:

[2015-11-18 01:26] powellquiring opened #103 "Read from a location other then / to get resourceListingJson"
I traced the swagger library network traffic in the browser to the point where "/" is fetched to read the resourceListingJson string.

When deployed, my server application is at: http://computer/application and when http://computer is read my application is not invoked so the following redirect code is never executed:

    http.HandleFunc("/", IndexHandler)

I can't figure out a technique to get a

[2015-11-18 03:21] tesujimath commented on #102
OK, I've decided not to pursue this, sorry.  I'm just going to use the native swagger tools directly, and not try to put the swagger markup in my Go source code.

[2015-11-18 15:24] powellquiring commented on #103
Is it possible to configure the swagger ui to have a root different then "/".  In my example I would set the swagger ui root to "/application"

[2015-11-30 08:32] devghosh opened #104 "boolean type not supported"
If body param structure has any boolean field, it is not shown in swagger ui.

[2015-12-15 06:33] abel-von opened #105 "the basePath {{.}} not parsed when loading in browser"
When I use the newest version of yvasiyarov/swagger to generate docs.go.  i find there is a new key "basePath" and the value is "{{.}}". but unfortunately the {{.}} is not parsed to a right path when the browser do a request.  so the result is an error looks like
"Unable to read api 'v2' from path {{.}}/v2 (server returned undefined)"

[2015-12-17 09:56] mixedCase commented on #95
Today I updated swagger and this is still now working without specifying @BasePath I'm afraid.

[2015-12-18 15:03] martsen commented on #105
+1

[2015-12-22 01:45] xiongtoto0526 commented on #105
+1 ,really confused

[2016-01-11 13:57] james-robson commented on #105
+1, @xiongtoto0526 your fix works as a stop gap, thanks.

[2016-01-26 11:56] #70 closed

[2016-02-05 16:40] mathewkbejoy commented on #105
is there a way for resourceListingJson to have a host rather than basepath
var resourceListingJson = `{
    "apiVersion": "",
    "swaggerVersion": "1.2",
    "host": "http://localhost:8086",
    "apis": [
        {
            "path": "/dateTime",
            "description": "Gets current timestamp, date and time"
        },
        {
            "path": "/phoneNumberDetail",
            "descript

[2016-02-06 12:33] Kaign opened #108 "swagger Can not find package"
HI, I tried to use swagger in example package:

[code]

What am I doing wrong?

[2016-02-08 21:39] mathewkbejoy commented on #105
shouldn't this also have a host?

[2016-02-16 11:05] ElliotReeve commented on #108
@Kaign I am getting the same, I want to use this but I can't get it to work for my API or for the example

[2016-02-17 08:21] Kaign commented on #108
@ElliotReeve , looks like this project is abandoned, take a look at the https://github.com/go-swagger/go-swagger , it works fine

[2016-02-17 10:43] RobertJGabriel commented on #108
@Kaign That repo is great, shame about this one, needed another admin :(

[2016-02-19 20:28] tobwiens opened #109 "@Router / [post] creates panic"
I have simple microservices which only do one operation and I let this operation happen on the root.

When I create asciidoc with a @Router / [post] I get the following panic.

[code]

Cheers,
Tobias

[2016-03-10 10:16] devghosh opened #110 "Parsing fails for array of arrays"
type ExpTest struct {
	testField [][]Data
}

type Data struct {
        id int
}

Parsing fails for ExpTest with error "Can not find definition of []Data model"

[2016-04-03 12:22] juanolon commented on #109
jep, just got the same error
``
github.com/yvasiyarov/swagger/parser.(*Parser).AddOperation(0xc08204c080, 0xc089bbcb00)
        C:/Users/Toby/Go/src/github.com/yvasiyarov/swagger/parser/parser.go:185 +0x9cc
``
Cheers

[2016-04-27 14:23] boonep commented on #108
Are you guys using vendoring?  It looks like this project just checks the GOPATH.  @yvasiyarov can we confirm this is abandoned?  Thanks!

[2016-04-27 18:32] boonep commented on #108
I was able to resolve my issues with vendoring using some quick hacks to the parse.go file.  The fixes work for my use case, but will almost definitely break others.  To view changes for your reference:  https://github.com/boonep/swagger/commit/450a060d76c51e6ebde26c77cf38643dacae205e

[2016-05-16 11:33] shtripat opened #112 "Not able to generate docs for my project which uses vendored packages"
I have a project which uses glide to download vendor packages. For example I use influxdb packages which get downloaded in "vendor" directory by glide tool.

For the same project when try generating REST docs using swagger, it does not find vendored packages. How can I make use of vendored packages for swagger as well?

[2016-05-26 11:31] shtripat commented on #112
I dont see any update on this issue. Is there a way to use glide vendor packages for generating json using this package?

[2016-06-21 08:58] Jeevi21 opened #113 "Import Cycle"
Hi,
 when i try to install . I'm getting Import Cycle not allowed issue.

[code]

I tried downloading it manually as a zip and tried go install.. again the same issue.
Can someone help me out? I'm completely new to this(both swagger and go)

[2016-07-15 07:55] sheepbao commented on #72
+1

[2016-07-19 11:56] dz0ny commented on #108
You can also use -ignore "github.com" -ignore "golang.org" to skip those paths while parsing

[2016-07-22 01:53] mikunalpha commented on #112
At swagger/parser/parser.go #L118, change codes like this may help you.
[code]

[2016-07-25 17:36] shtripat commented on #112
Oh that would be great help.
Will try this and update.

Regards,
Shubhendu

On Fri, Jul 22, 2016 at 7:23 AM, mikunalpha <notifications@github.com>
wrote:

[2016-08-02 05:16] plutov commented on #112
This PR will fix this issue - https://github.com/yvasiyarov/swagger/pull/115

[2016-08-05 09:37] #112 closed

[2016-08-16 05:57] apremalal commented on #72
Seems 2.0 support is still not merged to the master?. I tried this and it generated a json of 1.2.

[2016-09-01 16:56] landru29 opened #117 "Not working on a gin-gonic project"
When launching the command

`swagger -apiPackage=github.com/yy/xx -mainApiFile=main.go`

2016/09/01 18:44:04 Start parsing
2016/09/01 18:44:04 Can not find package context

What is this package ? I do not use it in my project

[2016-09-10 14:20] mikunalpha commented on #117
Some files of package golang.org/x/net/context will cause that message because they import context.

[2016-09-11 02:27] leoswaldo commented on #117
you can use `-ignore "context"` in the command line

[2016-09-22 21:18] jackmanlabs opened #121 "Intolerance of nested structs"
Please see this project:

[https://github.com/jackmanlabs/swagger-test](https://github.com/jackmanlabs/swagger-test)

This project contains to very simple web APIs that demonstrate that the swagger tool fails to handle nested structs in response types. Is there a work-around for this?

Thank you.

[2016-09-30 08:10] samtech09 commented on #108
I am getting similar issue. It was complaining about
`2016/09/30 13:33:40 Start parsing
2016/09/30 13:33:41 Can not find package golang_org/x/net/lex/httplex
`
Again i tried with `-ignore "github.com" -ignore "golang.org"` then it started giving following
`2016/09/30 13:36:34 Start parsing
2016/09/30 13:36:35 Can not find definition of object model. Current package dev/test/stapi/controllers
`
Is

[2016-11-25 18:13] congtranminh opened #125 "Unable to read api from path"
Hi guys, thanks for your useful library. I got an issue when run the sample web ui on your code by run command "go run web.go docs.go". Here it is
Unable to read api 'branches' from path https://api.example.com/branches (server returned undefined)
![screen shot 2016-11-26 at 01 10 54](https://cloud.githubusercontent.com/assets/3800509/20633086/4571f268-b375-11e6-9de9-c98294aa679a.png)

and here is

[2016-11-25 18:27] #125 closed

[2016-12-14 02:37] yun-wang commented on #121
+1

[2016-12-14 02:39] yun-wang commented on #109
Got the same error with `@Router / [get]`, is there a work-around for this?

[2017-01-24 16:38] ZhenyangZhao commented on #125
@congtranminh i have the same problem.Could u tell me how to fixed it ?

[2017-01-24 17:00] congtranminh commented on #125
@ZhenyangZhao i exported to markdown format and use this format for create a doc. https://hackmd.io is very good and free to create a markdown docs. You can try it

[2017-01-24 17:02] ZhenyangZhao commented on #125
@congtranminh thanks a lot. i had fixed it using the same way .Only different is  is exported to 'swagger'.

[2017-02-03 04:06] kokizzu opened #126 "How to generate multiple package?"
I've tried something like this:

[code]

but it's only output the last one

[2017-03-28 06:27] Waldz commented on #72
+1

[2017-04-14 04:52] poojachopraism opened #127 "400 Bad Gateway error"
Hi ,
Please help me in integrating swagger-ui as I am facing issues .When I run http://localhost:8080/ and click on testApi link it gives 400 Bad request is not able to generate the UI properly.
I followed the steps mentioned in your page please let me know if I am missing something. I get Unable to read api 'testapi' from path {{.}}/testapi (server returned undefined) error on UI.
Regards,
Pooja

[2017-05-03 03:41] shentaosky commented on #72
+1

[2017-05-03 04:06] shentaosky opened #128 "Unable to read api 'testapi' from path http://127.0.0.1:3000//testapi (server returned undefined)"
I run the example web test that genete go file, and I open browser to visit 0.0.0.0:8080.

[2017-05-03 04:19] shentaosky commented on #128
I delete "basePath" segment, it works.

[2017-05-03 04:19] #128 closed

[2017-05-26 18:37] bettse opened #129 "Issue with domain names in FindModelDefinition"
I don't have a full example, but I ran into a situation where I was getting an error

And I noticed the 'github/com' where it should be 'github.com', and I think this might be a result of the split on periods here: https://github.com/yvasiyarov/swagger/blob/b4c403f5b18c06407d5610787a2be47adc8f6e60/parser/parser.go#L396 and then its later rejoined with slashes here: https://github.com/yvasiyarov/sw

[2017-06-15 02:59] javanan opened #130 "How to set header"
version 2.7.0

spring boot project

https://github.com/swagger-api/swagger-ui/issues/3243

[2017-06-28 14:03] ppKrauss opened #131 "Plug-and-play instructions at README?"
I can help formating and adding step-by-step descriptions, but the "easy and dirirect" instructions exists?

PS: see also if this project solves [this classic problem](https://stackoverflow.com/questions/44803881/where-the-swagger-pretty-html-code/44804184#44804184)

[2017-07-18 00:50] TianDaGe commented on #46
In my case, bson.ObjectId could be not parsing.
@antonikonovalov How did you pass?

[2017-08-06 00:40] arkxu commented on #72
+1

[2017-08-24 14:09] ksaubhri123 opened #132 "Swagger version : 1.2"
While generating the doc file it is displaying swagger version 1.2  . How to upgrade it ??

[2017-08-28 05:29] ksaubhri123 commented on #72
+1

[2017-08-28 05:49] ksaubhri123 commented on #125
@congtranminh Thanx a lot. i also used the markdown format and able to generate the ui for markdown format. Do you get the solution for docs.go , the swagger-ui .

[2017-08-28 05:53] congtranminh commented on #125
@ksaubhri123 I never try to build the docs.go again after that. Markdown is good enough for me :)

[2017-08-29 06:18] ksaubhri123 commented on #125
@congtranminh  The solution for this is to remove the basepath field in the docs.go file from the resourcelistingjson field and not from the apidescriptionjson file.

[2017-09-14 14:43] andriisoldatenko opened #133 "Is it possible to use swagger examples?"
More info at https://swagger.io/docs/specification/adding-examples/

[2017-10-27 05:57] SejalAbhangrao opened #136 "Cant generate swagger documentation for same endpoint (get and post)"
My APIs have both the GET and POST method for the same endpoint. But the swagger documentation that gets created only displays the second one (I wrote annotations for GET method and then POST. So swagger only displays the POST one). Could you help me solve it?

[2017-11-28 06:45] dselans commented on #108
Resurrecting this issue as I'm cleaning things up -- that's correct, this project attempts to find the pkg in question in the following order:

1. $GOPATH
2. $GOROOT/src
3. $GOROOT/src/pkg (go 1.4)

With a shortly upcoming PR (#137), the tool will also search for any dependency packages by looking for the pkg under `$CWD/vendor/*` and then `$GOPATH/$mainPkg/vendor/$dependency_package`.

So to make

[2017-11-28 06:45] #108 closed

[2017-11-28 07:28] dselans commented on #132
Currently, there is no simple way to do so (as far as I'm aware). At some point the tool will be updated to generate swagger 2.x spec files. Sorry.

[2017-11-28 07:28] #132 closed

[2017-11-28 07:29] dselans commented on #131
I've updated the `README.md` which hopefully makes the tool a bit easier to use.

As for generating pretty HTML docs - this is currently unsupported but may get added in the future.

[2017-11-28 07:29] #131 closed

[2017-11-28 07:31] #98 closed

[2017-11-28 07:31] dselans commented on #84
Good idea.

[2017-11-28 07:35] dselans commented on #72
Swagger 2.0 support is planned and should land sometime soon :tm:.

[2017-11-28 07:39] dselans commented on #133
No, this tool (currently) only supports Swagger 1.2. There are plans to support Swagger 2.x at some point.

[2017-11-28 07:39] #133 closed

[2017-11-28 07:41] dselans commented on #113
Is your `$GOPATH` and `$GOROOT` set correctly? It's possible that you also tried to `get` the project when master was unstable.

[2017-11-28 07:41] #113 closed

[2017-11-28 07:42] #117 closed

[2017-11-28 07:47] dselans commented on #63
Right now, there is only support for ignoring package names based on a regex. If this is still needed, open issue once more and I'll get it added to the board.

[2017-11-28 07:47] #63 closed

[2017-11-28 07:47] dselans commented on #87
Parser tests have been fixed.

[2017-11-28 07:47] #87 closed

[2017-11-28 07:49] dselans commented on #86
This should be working now.

[2017-11-28 07:49] #86 closed

[2017-11-28 07:53] dselans commented on #39
Authorization is planned; adding this ticket to the board.

[2017-11-28 07:54] dselans commented on #61
Duplicate of #39

[2017-11-28 07:54] #61 closed

[2017-11-28 07:56] dselans commented on #121
Adding this to the board for a fix/update.

[2017-11-28 07:57] dselans commented on #69
Can you provide an example of what you had in mind?

[2017-11-28 07:57] #69 closed

[2017-11-28 07:58] dselans commented on #80
Have to investigate this a bit further; added to the board.

[2017-12-27 12:20] ajeyprasad opened #139 "Can not find definition of DocumentID model. Name looks like absolute, but model not found in github/com/arangodb/go-driver package"
My import is like "github.com/arangodb/go-driver".

So dot is there in my import. Parser is treating it as a delimiter for split and going in a wrong directory.

[2018-01-12 09:30] dineshsckloud9 opened #140 "Unable to read api 'estimate' from path http://localhost:8081/v1/estimate (server returned undefined)"
Getting this error:

Unable to read api 'estimate' from path http://localhost:8081/v1/estimate (server returned undefined)

It works directly under http://localhost:8080/v1/estimate, but from the home page its giving error

What could be the reason?
<img width="1320" alt="screen shot 2018-01-12 at 2 55 31 pm" src="https://user-images.githubusercontent.com/34510224/34868321-5f11da5c-f7a9-11e7-8531-

[2018-01-12 11:42] dineshsckloud9 commented on #140
It works after modified that output doc.go file's basepath under resourceListingJson to the swagger ip http://localhost:8080 from destination basepath http://localhost:8081

[2018-01-12 11:42] #140 closed, assigned to nobody

[2018-03-08 12:24] RanzBiswa commented on #98
This still doesn't works for me.
My structure below:
-- subpackage
	->model.go
--web
	->main.go
api.go

How do I add all packages explicitly?

Can you give me in details?

[2018-03-12 12:44] pei0804 opened #142 "Does this repository resume development? We created a new repository."
https://github.com/swaggo/swag

Do you have motivation? If it does not resume, we will continue to develop.
Currently the following task is over.

- Parsing complex structures
- file upload
- Custom header
- Swagger 2.0

[2018-04-02 04:36] pjebs commented on #72
any news on swagger 2 front? https://github.com/swaggo/swag

[2018-04-08 07:59] LuFred opened #143 "How to define array parameters"
if my api parameter is array
how can i do it

like:
`// @Param   areas    		body  	[]model.info  			true       	"area"`
`// @Param   price    		body  	[]int64    				true   	"price"	`

[2018-06-11 14:57] EarthChen opened #144 "Generics support"
would you can create  Generics in java support???
example "private T data"....it will be "{ }" in page

[2018-11-21 02:01] lyb-Q opened #145 "confusion"
### 嵌套的结构体是不是不能被解析

### The nested structure cannot be resolved

    type ReturnGetRonglianPhoneMsgStruct struct {
            StatusCode string `json:"statusCode"`
            VoiceVerify struct {
                CallSid     string `json:"callSid"`
                DateCreated string `json:"dateCreated"`
            } `json:"VoiceVerify"`
        }

[2019-03-14 06:22] Feng-xs opened #146 "github.com\fvbock\endless\endless.go:64:3: undefined: syscall.SIGUSR1"
github.com\fvbock\endless\endless.go:64:3: undefined: syscall.SIGUSR1
github.com\fvbock\endless\endless.go:65:3: undefined: syscall.SIGUSR2
github.com\fvbock\endless\endless.go:68:3: undefined: syscall.SIGTSTP
github.com\fvbock\endless\endless.go:111:5: undefined: syscall.SIGUSR1
github.com\fvbock\endless\endless.go:112:5: undefined: syscall.SIGUSR2
github.com\fvbock\endless\endless.go:115:5: unde

[2019-11-14 07:17] Madhankumar04 commented on #143
Hi,
How to get Swagger UI's Parameter to be Dropdown menu instead of Text Input using Golang swagger annotation like shown in picture
![param](https://user-images.githubusercontent.com/29201476/68834918-e99a5980-06dc-11ea-93d5-8476e0b8f41b.png)

[2019-11-14 07:27] M-Madhankumar opened #147 "Dropdown menu instead of Text Input"
Hi,
How to get Swagger UI's Parameter to be Dropdown menu instead of Text Input using Golang like shown in the image.
Are there any annotations to declare for it?

![param](https://user-images.githubusercontent.com/29201476/68835552-5530f680-06de-11ea-823f-55527fc5ae98.png)

[2019-12-29 09:53] #127 closed